<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Love Roo : Edit Note</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          To Love Roo : Edit Note
        </h1>
        <p class="subtitle">
          Edit a note
        </p>

        <div class="note-form">
          <form action="/notes/<%= @note.id %>" method="post">
            <div class="field">

              <p class="created-at has-text-grey-light">
                Originally written <%= @note.created_at.strftime("%m/%d/%Y") %>
              </p>
              <div class="control">
                <input class="input" type="text" name="text" value="<%= @note.text %>">
              </div>
            </div>

            <br/>
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-link">Update</button>
                <button type="submit" class="button is-link is-light" onClick="window.location='/'">Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
