<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Love Roo : Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <section class="section">
      <div id="app" class="container">
        <button class="is-pulled-right button is-danger is-small is-outlined" v-on:click="logOut">Logout</button>

        <h1 class="title">
          To Love Roo : Home
        </h1>
        <p class="subtitle is-italic has-text-grey-light">
          "<%= @notes_count %> notes delivered since 2019"
        </p>

        <div class="container-fluid">
          <article class="message is-link">
            <div class="message-header">
              <span v-cloak>A message for {{ note.recipientName }}:</span>
              <span v-cloak>{{ note.createdOn }}</span>
            </div>
            <div class="message-body">
              <p v-cloak>{{ note.text }}</p>
            </div>
          </article>

          <div id="note-controls" class="text-secondary">
            <template v-if="note.order === 'first'">
              <button v-on:click="previousNote" class="note-control-button button is-small is-warning" disabled>Previous</button>
            </template>
            <template v-else>
              <button v-on:click="previousNote" class="note-control-button button is-small is-warning">Previous</button>
            </template>

            <template v-if="note.order === 'last'">
              <button v-on:click="nextNote" class="note-control-button button is-small is-warning" disabled>Next</button>
            </template>
            <template v-else>
              <button v-on:click="nextNote" class="note-control-button button is-small is-warning">Next</button>
            </template>

            <template v-if="note.order === 'last'">
              <button v-on:click="newestNote" class="note-control-button button is-small is-warning" disabled>Newest</button>
            </template>
            <template v-else>
              <button v-on:click="newestNote" class="note-control-button button is-small is-warning">Newest</button>
            </template>

            <button v-on:click="randomNote" class="note-control-button button is-small is-primary">Random</button>

            <% if @current_user.is_joshua? %>
              <button v-on:click="editNote" class="note-control-button button is-small is-danger">Edit Note</button>
            <% end %>
          </div>

          <br/><br/>

          <% if @current_user.is_joshua? && @other_user %>
            <div class="field">
              <label class="label">New note to <%= @other_user.name %>:</label>
              <div class="control">
                <textarea v-model="newNote" name="newNote" placeholder="New note here..." class="textarea" rows="5"></textarea>
              </div>
              <small class="has-text-grey-light is-pulled-right" v-cloak>Characters remaining: {{ 500 - newNote.length }}</small>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-link" v-on:click="addNote">Submit</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="/site.js"></script>
  </body>
</html>
